body {
    width: 90%;
    margin: 0px auto;
    height: 1000px;
    background-color: #d6d58e;
}

header {
    background-color: #005c53;
    position: relative;
    top: 10px;
    width: 90%;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

nav {
    top: 0px;
    position: sticky;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    padding: 8px;
    font-size: 16px;
    justify-content: space-around;
}

li {
    background-color: #9fc131;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
}