body {
    background-color: #d6d58e;
    margin: 0px auto;
    width: 90%;
}

header {
    height: 150px;
    margin: 0px auto;
    background-color: #005c53;
    position: relative;
    top: 10px;
    width: 90%;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

nav {
    margin: 0px auto;
    top: 0px;
    position: sticky;
    width: 90%;
    background-color: #031a29;
    border-radius: 10px;
}

nav ul{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    padding: 8px;
    font-size: 16px;
    justify-content: space-around;
}

li {
    background-color: #9fc131;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

aside {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    justify-items: center;
    gap: 5px;
    border-radius: 10px;
}

aside div {
    width: inherit;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 5px;
    height: 750px;
}

.izquierda {
    font-weight: bold;
    width: 25%;
}

.derecha {
    width: 25%;
    font-style: italic;
}

footer {
    margin-top: 35px;
    font-size: small;
    height: 125px;
    background-color: #005c53;
    border-radius: 10px;
}
