@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: "LigatureSymbols";
    src: url(../fonts/ligature.woff);
}

[class^="icon-"], [class*="icon-"] {
  font-family: "LigatureSymbols";
  font-style: normal;
}
.icon-fogar::before {
  content: "\E072";
}

.icon-galeria:before {
  content: "\E026";
}

.icon-normativa::before {
  content: "\E002";
}

.icon-equipo::before {
  content: "\E117";
}

.icon-guias::before {
  content: "\E058";
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow:  0px 0px 6px rgba(0, 0, 0, 0.664);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: saturate(50%);
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  flex-grow: 3;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}

html {
  font-family: 'Permanent Marker';
  display: flex;
  justify-content: center;
  justify-items: center;
}

body {
  padding: 5px;
  background-color: #9FD4B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 80vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background: url("../imaxes/fondo.jpg")no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow:  0px 0px 6px rgba(255, 255, 255, 0.664);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  gap: 20px;
}

nav {
  width: 150px;
  background-color: #3F5448;

}

ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li {
  border-bottom: 1px solid black;
  text-align: center;
  color: white;
  background-color: #3F5448;
  padding: 10px 0px 10px 0px;
}

li:hover {
  background-color: #92E0DF;
  color: #194747;
  text-shadow:  0px 0px 6px black;
}

aside {
  background-color: #3F5448;
  width: 200px;
  margin: 0px auto;
  padding: 6px;
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color:  #9FD4B5;
  border: 0px;
  border-radius: 5px;
  height: 35px;
  margin-top: 15px;
  width: 85%;
}

#iniciar {
  background-color: #92E0DF;
  border: 0px;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  width: 80%;
  border-radius: 5px;
  margin-top: 10px;
}

#iniciar:hover {
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.664);

}


footer {
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 20px 20px;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #3F5448;
  color: white;
}

@media (max-width: 1024px) {
  header {
    font-size: 0.75em;
  }

  main {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  nav {
    width: 80vw;
  }

  ul {
    flex-direction: row;
    font-size: 0;
  }

  i::before {
    font-size: 1.125rem;
  }

  li {
    width: 5vw;
    margin-right: 15px;
    border-bottom: 0px;
  }

  article {
    width: 75vw;
  }

  aside {
    width: 75vw;
  }

}

@media (max-width: 640px) {
  header {
    font-size: 0.6em;
  }
}

@media (max-width: 340px) {
  body {
    width: 100%;
  }

  header {
    font-size: 0.4em;

  }

  footer {
    border-collapse: collapse;
    height: fit-content;
    font-size: 0.5em;
  }
}